.table-container {
  height: 70vh;
  overflow: auto; /* Enables both vertical & horizontal scrolling */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.file-table {
  width: 100%;
  border-collapse: collapse;
}

.file-table tr {
  border: 0 solid #ddd;
}

.file-table thead {
  position: sticky;
  top: 0;
}

.file-table th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #f4f4f4;
  font-weight: bold;
  text-align: center;
}

.left-align {
  text-align: left !important;
}

.empty-folder {
  width: 100%;
  text-align: center;
  padding: 10px;
}
